@font-face {
    font-family: ekapusta-header;
    src: url(/assets/fonts/header.eot);
    src: url(/assets/fonts/header.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/header.woff) format("woff"),url(/assets/fonts/header.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Index-Intro;
    src: url(/assets/fonts/Intro.otf)
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Thin"),local("Roboto-Thin"),url(/assets/fonts/Robotothin.woff2) format("woff2"),url(/assets/fonts/Robotothin.woff) format("woff"),url(/assets/fonts/Robotothin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Thin Italic"),local("Roboto-ThinItalic"),url(/assets/fonts/Robotothinitalic.woff2) format("woff2"),url(/assets/fonts/Robotothinitalic.woff) format("woff"),url(/assets/fonts/Robotothinitalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Light"),local("Roboto-Light"),url(/assets/fonts/Robotolight.woff2) format("woff2"),url(/assets/fonts/Robotolight.woff) format("woff"),url(/assets/fonts/Robotolight.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Light Italic"),local("Roboto-LightItalic"),url(/assets/fonts/Robotolightitalic.woff2) format("woff2"),url(/assets/fonts/Robotolightitalic.woff) format("woff"),url(/assets/fonts/Robotolightitalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto"),local("Roboto-Regular"),url(/assets/fonts/Roboto.woff2) format("woff2"),url(/assets/fonts/Roboto.woff) format("woff"),url(/assets/fonts/Roboto.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Italic"),local("Roboto-Italic"),url(/assets/fonts/Robotoitalic.woff2) format("woff2"),url(/assets/fonts/Robotoitalic.woff) format("woff"),url(/assets/fonts/Robotoitalic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Medium"),local("Roboto-Medium"),url(/assets/fonts/Robotomedium.woff2) format("woff2"),url(/assets/fonts/Robotomedium.woff) format("woff"),url(/assets/fonts/Robotomedium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Medium Italic"),local("Roboto-MediumItalic"),url(/assets/fonts/Robotomediumitalic.woff2) format("woff2"),url(/assets/fonts/Robotomediumitalic.woff) format("woff"),url(/assets/fonts/Robotomediumitalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Bold"),local("Roboto-Bold"),url(/assets/fonts/Robotobold.woff2) format("woff2"),url(/assets/fonts/Robotobold.woff) format("woff"),url(/assets/fonts/Robotobold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Bold Italic"),local("Roboto-BoldItalic"),url(/assets/fonts/Robotobolditalic.woff2) format("woff2"),url(/assets/fonts/Robotobolditalic.woff) format("woff"),url(/assets/fonts/Robotobolditalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Black"),local("Roboto-Black"),url(/assets/fonts/Robotoblack.woff2) format("woff2"),url(/assets/fonts/Robotoblack.woff) format("woff"),url(/assets/fonts/Robotoblack.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RobotoRegular;
    src: local("Roboto Black Italic"),local("Roboto-BlackItalic"),url(/assets/fonts/Robotoblackitalic.woff2) format("woff2"),url(/assets/fonts/Robotoblackitalic.woff) format("woff"),url(/assets/fonts/Robotoblackitalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

.cdk-overlay-container,.cdk-global-overlay-wrapper {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1000
}

.cdk-overlay-container:empty {
    display: none
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%
}

.cdk-overlay-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1
}

.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: .6
}

.cdk-overlay-transparent-backdrop {
    transition: visibility 1ms linear,opacity 1ms linear;
    visibility: hidden;
    opacity: 1
}

.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0;
    visibility: visible
}

.cdk-overlay-backdrop-noop-animation {
    transition: none
}

.cdk-overlay-connected-position-bounding-box {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    min-height: 1px
}

.cdk-global-scrollblock {
    position: fixed;
    width: 100%;
    overflow-y: scroll
}

.cdk-overlay-pane,.cdk-dialog-container {
    outline: none;
    box-shadow: none;
    border: none
}

.cdk-overlay-pane:active,.cdk-overlay-pane:focus,.cdk-overlay-pane:hover,.cdk-dialog-container:active,.cdk-dialog-container:focus,.cdk-dialog-container:hover {
    outline: none;
    box-shadow: none;
    border: none
}

.cdk-overlay-pane.is-fullscreen {
    width: 100%;
    height: 100%
}

.cdk-overlay-dark-backdrop {
    background: #00000052
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box
}

*:before,*:after {
    box-sizing: border-box
}

html,body {
    font-size: 15px;
    font-family: RobotoRegular,Roboto,Helvetica Neue,Noto Sans,Liberation Sans,Arial,sans-serif;
    font-weight: 400;
    background: #f5f5f5;
    box-sizing: border-box;
    color: #737e8b;
    height: 100%;
    width: 100%;
    --mat-autocomplete-background-color: white
}

input,button,select,textarea {
    font-size: inherit;
    line-height: inherit
}

input {
    font-size: 16px
}

a {
    color: var(--loaney-color-primary);
    text-decoration: none
}

a:hover,a:focus {
    color: #2fba50;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color
}

a,button {
    transition: all .25s ease
}

a.btn:focus,a.btn:active,a.btn:active:focus,button.btn:focus,button.btn:active,button.btn:active:focus {
    outline: none
}

a:focus,button:focus {
    outline-color: #0000001a
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

textarea {
    max-width: 100%
}

.form-control {
    font-size: 16px;
    height: 38px;
    padding: 8px 12px
}

.control-label {
    padding-top: 7px
}

.btn {
    padding: 8px 12px
}

.hidden {
    display: none!important
}

.container_cards {
    padding-left: 0;
    padding-right: 0
}

.container_cards .card {
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .container_cards {
        padding-left:15px;
        padding-right: 15px
    }

    .container_cards .card {
        border-left: 1px solid var(--loaney-color-primary);
        border-right: 1px solid var(--loaney-color-primary);
        border-radius: 4px;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 25px
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .container_cards .card {
        padding-left:35px;
        padding-right: 35px
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px
}

.btn:focus,.btn.focus,.btn:active:focus,.btn:active.focus,.btn.active:focus,.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,.btn:focus,.btn.focus {
    color: #333;
    text-decoration: none
}

.btn:active,.btn.active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px #00000020
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none
}

a.btn.disabled,fieldset[disabled] a.btn {
    pointer-events: none
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: 500;
    line-height: 1.1
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:focus,.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active,.btn-default.active,.open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad
}

.btn-default:active:hover,.btn-default:active:focus,.btn-default:active.focus,.btn-default.active:hover,.btn-default.active:focus,.btn-default.active.focus,.open>.btn-default.dropdown-toggle:hover,.open>.btn-default.dropdown-toggle:focus,.open>.btn-default.dropdown-toggle.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.btn-default.disabled:hover,.btn-default.disabled:focus,.btn-default.disabled.focus,.btn-default[disabled]:hover,.btn-default[disabled]:focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default:hover,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #44cf65;
    border-color: #39cc5b
}

.btn-primary:focus,.btn-primary.focus {
    color: #fff;
    background-color: #2eb24d;
    border-color: #1b6a2e
}

.btn-primary:hover {
    color: #fff;
    background-color: #2eb24d;
    border-color: #299f44
}

.btn-primary:active,.btn-primary.active,.open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2eb24d;
    background-image: none;
    border-color: #299f44
}

.btn-primary:active:hover,.btn-primary:active:focus,.btn-primary:active.focus,.btn-primary.active:hover,.btn-primary.active:focus,.btn-primary.active.focus,.open>.btn-primary.dropdown-toggle:hover,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #269641;
    border-color: #1b6a2e
}

.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary.disabled.focus,.btn-primary[disabled]:hover,.btn-primary[disabled]:focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary:hover,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary.focus {
    background-color: #44cf65;
    border-color: #39cc5b
}

.btn-primary .badge {
    color: #44cf65;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #00c853;
    border-color: #00bd4e
}

.btn-success:focus,.btn-success.focus {
    color: #fff;
    background-color: #00953e;
    border-color: #003e19
}

.btn-success:hover {
    color: #fff;
    background-color: #00953e;
    border-color: #008035
}

.btn-success:active,.btn-success.active,.open>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #00953e;
    background-image: none;
    border-color: #008035
}

.btn-success:active:hover,.btn-success:active:focus,.btn-success:active.focus,.btn-success.active:hover,.btn-success.active:focus,.btn-success.active.focus,.open>.btn-success.dropdown-toggle:hover,.open>.btn-success.dropdown-toggle:focus,.open>.btn-success.dropdown-toggle.focus {
    color: #fff;
    background-color: #00712f;
    border-color: #003e19
}

.btn-success.disabled:hover,.btn-success.disabled:focus,.btn-success.disabled.focus,.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success:hover,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success.focus {
    background-color: #00c853;
    border-color: #00bd4e
}

.btn-success .badge {
    color: #00c853;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #2196f3;
    border-color: #138ff2
}

.btn-info:focus,.btn-info.focus {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #07497f
}

.btn-info:hover {
    color: #fff;
    background-color: #0c7cd5;
    border-color: #0a6ebd
}

.btn-info:active,.btn-info.active,.open>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #0c7cd5;
    background-image: none;
    border-color: #0a6ebd
}

.btn-info:active:hover,.btn-info:active:focus,.btn-info:active.focus,.btn-info.active:hover,.btn-info.active:focus,.btn-info.active.focus,.open>.btn-info.dropdown-toggle:hover,.open>.btn-info.dropdown-toggle:focus,.open>.btn-info.dropdown-toggle.focus {
    color: #fff;
    background-color: #0a68b4;
    border-color: #07497f
}

.btn-info.disabled:hover,.btn-info.disabled:focus,.btn-info.disabled.focus,.btn-info[disabled]:hover,.btn-info[disabled]:focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info:hover,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info.focus {
    background-color: #2196f3;
    border-color: #138ff2
}

.btn-info .badge {
    color: #2196f3;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #ef6c00;
    border-color: #e36600
}

.btn-warning:focus,.btn-warning.focus {
    color: #fff;
    background-color: #bc5500;
    border-color: #642d00
}

.btn-warning:hover {
    color: #fff;
    background-color: #bc5500;
    border-color: #a64b00
}

.btn-warning:active,.btn-warning.active,.open>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #bc5500;
    background-image: none;
    border-color: #a64b00
}

.btn-warning:active:hover,.btn-warning:active:focus,.btn-warning:active.focus,.btn-warning.active:hover,.btn-warning.active:focus,.btn-warning.active.focus,.open>.btn-warning.dropdown-toggle:hover,.open>.btn-warning.dropdown-toggle:focus,.open>.btn-warning.dropdown-toggle.focus {
    color: #fff;
    background-color: #984500;
    border-color: #642d00
}

.btn-warning.disabled:hover,.btn-warning.disabled:focus,.btn-warning.disabled.focus,.btn-warning[disabled]:hover,.btn-warning[disabled]:focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning:hover,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning.focus {
    background-color: #ef6c00;
    border-color: #e36600
}

.btn-warning .badge {
    color: #ef6c00;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #f44336;
    border-color: #f33527
}

.btn-danger:focus,.btn-danger.focus {
    color: #fff;
    background-color: #ea1c0d;
    border-color: #921208
}

.btn-danger:hover {
    color: #fff;
    background-color: #ea1c0d;
    border-color: #d1190c
}

.btn-danger:active,.btn-danger.active,.open>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #ea1c0d;
    background-image: none;
    border-color: #d1190c
}

.btn-danger:active:hover,.btn-danger:active:focus,.btn-danger:active.focus,.btn-danger.active:hover,.btn-danger.active:focus,.btn-danger.active.focus,.open>.btn-danger.dropdown-toggle:hover,.open>.btn-danger.dropdown-toggle:focus,.open>.btn-danger.dropdown-toggle.focus {
    color: #fff;
    background-color: #c8180b;
    border-color: #921208
}

.btn-danger.disabled:hover,.btn-danger.disabled:focus,.btn-danger.disabled.focus,.btn-danger[disabled]:hover,.btn-danger[disabled]:focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger:hover,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger.focus {
    background-color: #f44336;
    border-color: #f33527
}

.btn-danger .badge {
    color: #f44336;
    background-color: #fff
}

.btn-link {
    font-weight: 400;
    color: var(--loaney-color-primary);
    border-radius: 0
}

.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none
}

.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {
    border-color: transparent
}

.btn-link:hover,.btn-link:focus {
    color: var(--loaney-color-primary);
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:hover,fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-block {
    display: block;
    width: 100%
}

input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block {
    width: 100%
}

.btn-good {
    color: #fff;
    background-color: #febc0b;
    box-shadow: 0 1px 5px #ff98004d;
    background-image: linear-gradient(180deg,#febc0b 30%,#ff8a17 70%);
    font-size: 16px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px #febc0b;
    border: 1px solid #febc0b
}

.btn-good:hover,.btn-good:focus {
    color: #fff;
    background-image: linear-gradient(180deg,#febc0b 25%,#f37b04 70%)
}

.btn-good:active {
    color: #fff;
    background-image: linear-gradient(180deg,#e2a80d 25%,#ef7802 70%)
}

.btn-good:focus,.btn-good:focus:active,.btn-good:active {
    box-shadow: none;
    outline: none
}

.btn-best {
    color: #fff;
    background-color: #00e676;
    box-shadow: 0 1px 5px #0082124d;
    background-image: linear-gradient(180deg,#42f179 30%,#44d066 70%);
    font-size: 17px;
    border-radius: 6px;
    text-shadow: 1px 1px 2px #00e676;
    border: 1px solid #00e676
}

.btn-best:hover {
    color: #fff;
    background-image: linear-gradient(180deg,#5bf780 30%,#45d166 70%)
}

.btn-best:focus {
    color: #fff;
    box-shadow: 0 1px 5px #0082124d
}

.btn-best.btn-big {
    font-size: 18px;
    height: 50px;
    padding: 11px 25px;
    border-radius: 6px
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .btn-best.btn-big {
        min-width:200px
    }
}

.btn-default {
    background: linear-gradient(180deg,#fff 30%,#f2f2f2 70%);
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 6px 13px;
    color: #737e8b;
    box-shadow: 0 1px 4px #0000001a
}

.btn-default:hover {
    border-color: #b6b6b6
}

.btn-primary {
    color: #fff;
    background-color: #00e676;
    box-shadow: 0 1px 5px #0082124d;
    background-image: linear-gradient(180deg,#42f179 30%,#44d066 70%);
    text-shadow: 1px 1px 2px #00e676;
    border: 1px solid #00e676
}

.btn-primary:hover {
    color: #fff;
    border: 1px solid #00e676;
    background-image: linear-gradient(180deg,#5bf780 30%,#45d166 70%)
}

.btn-primary:focus {
    color: #fff;
    box-shadow: 0 1px 5px #0082124d
}

.has-error .control-label {
    color: #bb2d00
}

.has-error .form-control {
    border-color: #ff5722
}

.has-error .form-control:focus {
    border-color: #ff5722;
    box-shadow: inset 0 1px 1px #00000013,0 0 8px #ff572299
}

.is-valid .form-control {
    border-color: #5cb85c
}

.is-valid .form-control:focus {
    border-color: #5cb85c;
    box-shadow: inset 0 1px 1px #00000013,0 0 8px #5cb85c99
}

.card {
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px #6464644d;
    border: 1px solid var(--loaney-color-primary);
    margin-bottom: 15px
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card {
        padding:20px;
        margin-bottom: 20px
    }

    .card_v1 {
        padding: 20px 25px
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card {
        padding:25px;
        margin-bottom: 25px
    }

    .card_v1 {
        padding: 25px 35px
    }
}

.card-top {
    margin-top: -15px;
    margin-bottom: 15px
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card-top {
        margin-top:-20px;
        margin-bottom: 20px
    }

    .card-top_v1 {
        margin-top: -25px;
        margin-bottom: 25px
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-top {
        margin-top:-25px;
        margin-bottom: 25px
    }

    .card-top_v1 {
        margin-bottom: 35px;
        margin-top: -35px
    }
}

.card-header {
    margin: 15px 0
}

.card-header_first,.card-header:first-child {
    margin-top: 0
}

.card-header_tac {
    text-align: center
}

.card-header_v1 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px
}

.card-header_v2 {
    border-top: 1px solid #eeeeee;
    padding-top: 15px
}

.card-header_v3 {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px
}

.card_v1 .card-header {
    border-bottom: none;
    padding-bottom: 0;
    font-weight: 400;
    color: #000;
    font-size: 17px;
    margin: 10px 0
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card-header {
        margin-bottom:20px
    }

    .card-header_v1 {
        padding-bottom: 20px
    }

    .card-header_v2 {
        padding-top: 20px
    }

    .card-header_v3 {
        padding-bottom: 20px
    }

    .card_v1 .card-header {
        font-size: 19px;
        padding-bottom: 0
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-header {
        margin-bottom:0
    }

    .card-header_v1 {
        margin-bottom: 25px;
        padding-bottom: 25px
    }

    .card-header_v2 {
        margin-top: 25px;
        padding-top: 25px
    }

    .card-header_v3 {
        padding-bottom: 25px
    }

    .card_v1 .card-header {
        padding-bottom: 0
    }
}

.card-title {
    color: #000000de;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    text-align: center
}

.card-title_v1 {
    margin-bottom: 15px
}

.card-title_magic {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card-title {
        text-align:left
    }

    .card-title_v1 {
        margin-bottom: 20px
    }

    .card-title_magic {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-title_v1 {
        margin-bottom:25px
    }
}

.card-subtitle {
    font-size: 15px;
    margin-top: 15px
}

.card-group {
    margin-bottom: 15px
}

.card-group:last-child {
    margin-bottom: 0
}

.card-content {
    margin-bottom: 15px
}

.card-content_tac {
    text-align: center
}

.card-content_last,.card-content:last-child,.card-content_nmb {
    margin-bottom: 0
}

.card-content_v1 .card-content,.card-content_v1 .card-content p {
    margin-bottom: 10px
}

.card-content_v2 {
    font-size: 16px
}

.card_v1 .card-content {
    font-size: 15px
}

.card_v1 .card-content p {
    margin: 0
}

.card_v1 .card-content_v1 p {
    margin-bottom: 10px
}

.card_v1 .card-content ul {
    margin: 0 0 10px
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card-content {
        margin-bottom:25px
    }

    .card_v1 .card-content {
        margin-bottom: 20px
    }

    .card-content_last,.card-content:last-child,.card-content_nmb {
        margin-bottom: 0
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-content {
        margin-bottom:35px
    }

    .card_v1 .card-content {
        margin-bottom: 20px
    }

    .card-content_last,.card-content:last-child,.card-content_nmb {
        margin-bottom: 0
    }
}

.card-description {
    margin-bottom: 15px
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card-description {
        margin-bottom:20px
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-description_v1 {
        margin-bottom:25px
    }
}

.card-actions_tac {
    text-align: center
}

.card-actions_v1 {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ededed
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-actions_v1 {
        margin-top:30px;
        padding-top: 30px
    }
}

.card-footer {
    margin: 15px -15px 0;
    padding: 15px 15px 0;
    border-top: 1px solid #eeeeee
}

@media (min-width: 600px) and (orientation: portrait),(min-width: 960px) and (orientation: landscape) {
    .card-footer {
        margin:20px -20px 0;
        padding: 20px 20px 0
    }

    .card-footer_v1 {
        margin: 25px -25px 0;
        padding: 25px 25px 0
    }
}

@media (min-width: 840px) and (orientation: portrait),(min-width: 1280px) and (orientation: landscape) {
    .card-footer {
        margin:25px -25px 0;
        padding: 35px 35px 0
    }

    .card-footer_v1 {
        margin: 35px -35px 0;
        padding: 35px 35px 0
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

select[multiple],select[size] {
    height: auto
}

input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #00000013;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: var(--loaney-color-info);
    outline: 0
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled],fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control,input[type=time].form-control,input[type=datetime-local].form-control,input[type=month].form-control {
        line-height:34px
    }
}

.form-group {
    margin-bottom: 15px
}

.has-success .control-label {
    color: #3c763d
}

.has-success .form-control {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px #00000013
}

.has-success .form-control:focus {
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px #00000013,0 0 6px #67b168
}

.has-warning .control-label {
    color: #8a6d3b
}

.has-warning .form-control {
    border-color: #8a6d3b;
    box-shadow: inset 0 1px 1px #00000013
}

.has-warning .form-control:focus {
    border-color: #66512c;
    box-shadow: inset 0 1px 1px #00000013,0 0 6px #c0a16b
}

.has-error .control-label {
    color: #a94442
}

.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px #00000013
}

.has-error .form-control:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px #00000013,0 0 6px #ce8483
}

.post-menu {
    --mat-menu-container-color: white;
    width: 220px
}

html {
    --loaney-color-default: #212121;
    --loaney-color-content: #737e8b;
    --loaney-color-primary: #44cf65;
    --loaney-color-success: #00c853;
    --loaney-color-info: #2196f3;
    --loaney-color-accent: #ffc107;
    --loaney-color-warning: #ef6c00;
    --loaney-color-warning-dark: #ef6c00;
    --loaney-color-danger: #f44336
}
